name: Run script daily at 19h Paris

on:
  schedule:
    - cron: '0 17 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    env:
      FRED_API_KEY: ${{ secrets.FRED_API_KEY }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -U pip
          pip install -r requirements.txt

      - name: Run script
        run: |
          python daily_update.py
